Django==4.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.0
psycopg2-binary==2.9.11
daphne==4.2.1
channels==4.3.2
anthropic==0.83.0
stripe==14.3.0
dj-database-url==3.1.2
python-dotenv==1.0.0
rank-bm25==0.2.2
cloudinary==1.44.1
django-cloudinary-storage==0.3.0
gunicorn==21.2.0
celery==5.3.4
redis==5.0.1
python-decouple==3.8
boto3==1.35.0
Pillow==11.1.0
